.best-container{
    background: #FF7724;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    border-radius: 0rem 1rem 1rem 0rem;
    padding: 0.5rem;
    width: 12%;
}