.main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem;
  padding: 1rem;
  background: #ffffff;

  .number {
    text-align: center;
    width: 45px;
    background: #ffffff;
    position: relative;
    right: 40px;
    bottom: 90px;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 50%;
    font-size: 1rem;
    color: #626e79;
  }

  .img-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5em;
    color: #626e79;
  }

  .para-container {
    .para {
      color: #000;

      .text-b {
        font-weight: bold;
      }
    }

    .para-text {
      .highlight-container {
        margin: 1rem;
        background: #fff4ed;
        padding: 1rem;
        border-radius: 0.5em;

        span {
          margin-right: 0.3em;
          color: #1b88f4;
        }
      }

      .doc-container {
        .p {
          span {
            margin-right: 0.5em;
          }
        }
      }
    }

    .see-more {
      color: #1b88f4;
      margin-left: -1rem;
    }
  }

  .rating-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    color: #074786;

    .star-container {
      width: 55%;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 0.5rem 1rem;
      background: #f3f9ff;
      border-radius: 0 0 1rem 1rem;

      .rate_number {
        font-size: 2.5rem;
        font-weight: 700;
      }
    }

    .btn {
      margin: 10px;
      padding: 0.5rem 4rem;
      border: none;
      border-radius: 10px;
      background-color: #1b88f4;
      color: #fff;
      cursor: pointer;
    }
  }

  /* Media queries for responsiveness */
  @media (max-width: 768px) {
    .main-container {
      flex-direction: column;
      text-align: center;

      .number {
        right: 0;
        bottom: 0;
      }

      .rating-container .star-container {
        width: 100%;
      }
    }
  }
}
